*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px 0;
    background-image: url(/images/stadium.jpg);
    background-size: cover;
    background-position: center;
}
#main >h1{
    font-size: 80px;
    color: #243D89;
}

#box{
    height: 60%;
    width: 80%;
    background-color: rgba(4, 0, 255, 0.282);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
#box h1{
    font-size: 60px;
    color: #000000;
    
}

button{
    padding: 20px 40px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 19px;
    font-size: 30px;
    color: #243D89;
}